# Carga de datos a través de la función read_csv

In [1]:
%config IPCompleter.greedy=True # sirve para que aparezca el intellisense

In [2]:
import pandas as pd
import os

In [3]:
mainpath = r"C:\Users\Matias\Documents\Matias\Libros y cursos\Machine learning\Curso completo de Machine Learning Data Science en Python\python-ml-course\datasets" # la r al comienzo es para que tome literal el string entrecomillado
filename = "titanic/titanic3.csv"
fullpath = os.path.join(mainpath, filename)

In [4]:
data = pd.read_csv(fullpath)

In [5]:
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [6]:
### Ejemplos de los parámetros de la función read_csv
"""
read.csv(filepath="/Users/JuanGabriel/Developer/AnacondaProjects/python-ml-course/datasets/titanic/titanic3.csv",
        sep = ",",  # Separador, también adminte expresiones regulares.
        dtype={"ingresos":np.float64, "edad":np.int32},  # Le da el tipo de datos a las columnas, es decir lo formatea, sino lo infiere.
        header=0,names={"ingresos", "edad"}, # Si se indica 0, entonces la primera fila es la cabecera. Fuerza que la primer fila es la cabecera. Sino con names le ponemos el nombre nosotros, puede ser que esté mal nombrado, etc.
        skiprows=12, # saltea las 12 primeras filas.
        index_col=None, # decimos que una de las columnas es el INDEX, es como que una columna tiene el nombre de cada fila.
        skip_blank_lines=False, # en vez de colocar NaNs colocará espacios en blanco si este valor es True.
        na_filter=False # Elimina las filas que tienen algún NaN los elimina.
        )
"""

'\nread.csv(filepath="/Users/JuanGabriel/Developer/AnacondaProjects/python-ml-course/datasets/titanic/titanic3.csv",\n        sep = ",",  # Separador, también adminte expresiones regulares.\n        dtype={"ingresos":np.float64, "edad":np.int32},  # Le da el tipo de datos a las columnas, es decir lo formatea, sino lo infiere.\n        header=0,names={"ingresos", "edad"}, # Si se indica 0, entonces la primera fila es la cabecera. Fuerza que la primer fila es la cabecera. Sino con names le ponemos el nombre nosotros, puede ser que esté mal nombrado, etc.\n        skiprows=12, # saltea las 12 primeras filas.\n        index_col=None, # decimos que una de las columnas es el INDEX, es como que una columna tiene el nombre de cada fila.\n        skip_blank_lines=False, # en vez de colocar NaNs colocará espacios en blanco si este valor es True.\n        na_filter=False # Elimina las filas que tienen algún NaN los elimina.\n        )\n'

In [7]:
data2 = pd.read_csv(mainpath + "/" + "customer-churn-model/Customer Churn Model.txt")

In [8]:
data2.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [9]:
data2.columns.values

array(['State', 'Account Length', 'Area Code', 'Phone', "Int'l Plan",
       'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls',
       'Day Charge', 'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins',
       'Night Calls', 'Night Charge', 'Intl Mins', 'Intl Calls',
       'Intl Charge', 'CustServ Calls', 'Churn?'], dtype=object)

In [10]:
# Tiene dos archivos, uno con los datos y otros con las cabeceras, entonces en este proceso los une.
data_cols = pd.read_csv(mainpath + "/" + "customer-churn-model/Customer Churn Columns.csv")
data_col_list = data_cols["Column_Names"].tolist()
data2 = pd.read_csv(mainpath + "/" + "customer-churn-model/Customer Churn Model.txt", 
                    header = None, names = data_col_list)
data2.columns.values

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U'], dtype=object)

# Carga de datos a través de la función open

Pandas lo que hace es leer los archivos todo de golpe, por lo que satura la memoria RAM, entonces en lugar de usar pandas lo que se puede hacer es usar la función de apertura de ficheros de python, que lo que hace es leer el fichero fila por fila, y luego de haberlo procesado podríamos ir liberando la memoria.
En teoría también se podria ir distribuyendo la carga de trabajo en distintos ordenadores.

In [11]:
data3 = open(mainpath + "/" + "customer-churn-model/Customer Churn Model.txt",'r')
"""parámetros de open:
r: lectura
rw: lectura y escritura
w: escritura, en este caso achaca el archivo como estaba guardado
a: modo append, lo cual posicionará el cursor al final y no borrará el contenido del mismo.
"""

'parámetros de open:\nr: lectura\nrw: lectura y escritura\nw: escritura, en este caso achaca el archivo como estaba guardado\na: modo append, lo cual posicionará el cursor al final y no borrará el contenido del mismo.\n'

In [12]:
# readline leela primer linea
# strip elimina los espacios en blanco que sobran tanto al inicio como al final. 
# split va partiendo el texto en según un separador y lo convierte en una lista.
cols = data3.readline().strip().split(",")
n_cols = len(cols)

In [13]:
# genera un diccionario con elementos que tienen de key los nombres de las columnas y valores listas vacios
counter = 0
main_dict = {}
for col in cols:
    main_dict[col] = []

In [14]:
for line in data3:
    values = line.strip().split(",")
    for i in range(len(cols)):
        main_dict[cols[i]].append(values[i])
    counter += 1

print("El data set tiene %d filas y %d columnas"%(counter, n_cols))

El data set tiene 3333 filas y 21 columnas

In [15]:
# ahora se podría crear un data frame de pandas para luego utilizar todas las funcionalidades del mismo:
df3 = pd.DataFrame(main_dict)
df3.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.100000,110,45.070000,...,99,16.780000,244.700000,91,11.010000,10.000000,3,2.700000,1,False.
1,OH,107,415,371-7191,no,yes,26,161.600000,123,27.470000,...,103,16.620000,254.400000,103,11.450000,13.700000,3,3.700000,1,False.
2,NJ,137,415,358-1921,no,no,0,243.400000,114,41.380000,...,110,10.300000,162.600000,104,7.320000,12.200000,5,3.290000,0,False.
3,OH,84,408,375-9999,yes,no,0,299.400000,71,50.900000,...,88,5.260000,196.900000,89,8.860000,6.600000,7,1.780000,2,False.
4,OK,75,415,330-6626,yes,no,0,166.700000,113,28.340000,...,122,12.610000,186.900000,121,8.410000,10.100000,3,2.730000,3,False.

## Lectura y escritura de ficheros

In [16]:
infile = mainpath + "/" + "customer-churn-model/Customer Churn Model.txt"
outfile = mainpath + "/" + "customer-churn-model/Tab Customer Churn Model.txt"

In [17]:
# En este caso cambia el separador de "," a "\t"
with open(infile, "r") as infile1:
    with open(outfile, "w") as outfile1:
        for line in infile1:
            fields = line.strip().split(",")
            outfile1.write("\t".join(fields)) # los une por un tab
            outfile1.write("\n") # genera un salto de linea "new line"

In [18]:
df4 = pd.read_csv(outfile, sep = "\t")
df4.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

# Leer datos desde una URL

In [19]:
medals_url = "http://winterolympicsmedals.com/medals.csv"

In [20]:
medals_data = pd.read_csv(medals_url)

In [21]:
medals_data.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

## Ejercicio de descarga de datos con urllib3
Vamos a hacer un ejemplo usando la librería urllib3 para leer los datos desde una URL externa, procesarlos y convertirlos a un data frame de *python* antes de guardarlos en un CSV local.

In [27]:
def downloadFromURL(url, filename, sep = ",", delim = "\n", encoding="utf-8", 
                   mainpath = "/Users/JuanGabriel/Developer/AnacondaProjects/python-ml-course/datasets"):
    #primero importamos la librería y hacemos la conexión con la web de los datos
    import urllib3
    http = urllib3.PoolManager()
    r = http.request('GET', url)
    print("El estado de la respuesta es %d" %(r.status))
    response = r.data ## CORREGIDO: eliminado un doble decode que daba error
    
    #El objeto reponse contiene un string binario, así que lo convertimos a un string descodificándolo en UTF-8
    str_data = response.decode(encoding)

    #Dividimos el string en un array de filas, separándolo por intros
    lines = str_data.split(delim)

    #La primera línea contiene la cabecera, así que la extraemos
    col_names = lines[0].split(sep)
    n_cols = len(col_names)

    #Generamos un diccionario vacío donde irá la información procesada desde la URL externa
    counter = 0
    main_dict = {}
    for col in col_names:
        main_dict[col] = []

    #Procesamos fila a fila la información para ir rellenando el diccionario con los datos como hicimos antes
    for line in lines:
        #Nos saltamos la primera línea que es la que contiene la cabecera y ya tenemos procesada
        if(counter > 0):
            #Dividimos cada string por las comas como elemento separador
            values = line.strip().split(sep)
            #Añadimos cada valor a su respectiva columna del diccionario
            for i in range(len(col_names)):
                main_dict[col_names[i]].append(values[i])
        counter += 1

    print("El data set tiene %d filas y %d columnas"%(counter, n_cols))

    #Convertimos el diccionario procesado a Data Frame y comprobamos que los datos son correctos
    df = pd.DataFrame(main_dict)
    print(df.head())

    #Elegimos donde guardarlo (en la carpeta athletes es donde tiene más sentido por el contexto del análisis)
    fullpath = os.path.join(mainpath, filename)

    #Lo guardamos en CSV, en JSON o en Excel según queramos
    df.to_csv(fullpath+".csv")
    df.to_json(fullpath+".json")
    # df.to_excel(fullpath+".xls")
    print("Los ficheros se han guardado correctamente en: "+fullpath)
    
    return df

In [28]:
medals_df = downloadFromURL(medals_url, "athletes/downloaded_medals",mainpath = mainpath)
medals_df.head()

El estado de la respuesta es 200
El data set tiene 2312 filas y 8 columnas
   Year      City       Sport      Discipline  NOC       Event Event gender  \
0  1924  Chamonix     Skating  Figure skating  AUT  individual            M
1  1924  Chamonix     Skating  Figure skating  AUT  individual            W
2  1924  Chamonix     Skating  Figure skating  AUT       pairs            X
3  1924  Chamonix   Bobsleigh       Bobsleigh  BEL    four-man            M
4  1924  Chamonix  Ice Hockey      Ice Hockey  CAN  ice hockey            M

    Medal
0  Silver
1    Gold
2    Gold
3  Bronze
4    Gold
Los ficheros se han guardado correctamente en: C:\Users\Matias\Documents\Matias\Libros y cursos\Machine learning\Curso completo de Machine Learning Data Science en Python\python-ml-course\datasets\athletes/downloaded_medals

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

## Ficheros XLS y XLSX

In [100]:
mainpath = "/Users/JuanGabriel/Developer/AnacondaProjects/python-ml-course/datasets"
filename = "titanic/titanic3.xls"

In [101]:
# se debe especificar la hoja.
titanic2 = pd.read_excel(mainpath + "/" + filename, "titanic3")

In [102]:
titanic3 = pd.read_excel(mainpath + "/" + filename, "titanic3")

In [103]:
titanic3.to_csv(mainpath + "/titanic/titanic_custom.csv")

In [104]:
titanic3.to_excel(mainpath + "/titanic/titanic_custom.xls")

In [105]:
titanic3.to_json(mainpath + "/titanic/titanic_custom.json")